<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Sucursal Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Sucursals Management</h1>
        <hr>
        <h2>Afegir sucursal</h2>

        <form action="#" th:action="@{/sucursal/add}" th:object="${_sucursalDTO}" method="POST">
            <input type="hidden" name="pk_SucursalID" th:field="*{pk_SucursalID}"/>
            <input type="text" th:field="*{nomSucursal}" placeholder="Nom Sucurusal" class="form-control mb-4 col-4" required>
            <input type="text" th:field="*{paisSucursal}" placeholder="Pais sucursal" class="form-control mb-4 col-4" required>

            <button type="submit" class="btn btn-info col-2"> Afegir sucursal</button>
        </form>

        <hr>

        <a th:href="@{/}"> Tornar a la llista de sucursals</a>
    </div>
</body>

</html>